---
import "../styles/global.css";
import "../styles/information.css";
---

<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/favicon.jpeg" />
    <title>Información del Sorteo Dtmf - Bad Bunny</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <div class="container-fluid p-0">
  <div class="banner d-flex align-items-center justify-content-center text-white">
    <h1 class="fw-bold" style="font-family: 'bbspscificfont'"> Bienvenido a la Página de Información </h1>
  </div>

  <div>
    <section class="faq-section py-5">
  <div class="container">
    <h2 class="text-center mb-4 fw-bold" style="color:black">Preguntas Frecuentes</h2>

    <div class="accordion accordion-flush" id="faqAccordion">

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#faq1">
            ¿Que entradas voy a ganar exactamente?
          </button>
        </h2>
        <div id="faq1" class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Ganarás 2 entradas <strong>GOLDEN TICKET</strong>, ¡sí, <strong>dos</strong>!<br><br>
            Estas entradas te darán acceso a la zona <strong>Occidental Alta</strong>, donde podrás ver tanto la casita como el show principal de Bad Bunny.<br><br>
            Además de las entradas, recibirás todos los beneficios incluidos en el paquete <strong>Gold Premium Ticket</strong>, como:<br>
            • Boleta en Occidental Alta<br>
            • Artículo exclusivo de regalo VIP<br>
            • Gafete conmemorativo VIP<br>
            • Acceso exclusivo de check-in para VIP<br>
            • Equipo de anfitriones y conserjes VIP en el lugar<br><br>
            Este paquete está diseñado para ofrecerte una experiencia más especial que la entrada general.

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#faq2">
            ¿Cómo puedo participar?
          </button>
        </h2>
        <div id="faq2" class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
           Deberás conseguir un <strong>código</strong>.<br><br>
           Ingresa este código en la página principal del sorteo,<br>
           completa el formulario correspondiente<br>
           y listo.

        </div>
      </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#faq3">
            ¿Tiene algún costo participar?
          </button>
        </h2>
        <div id="faq3" class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Sí y no.<br><br>
            Puedes comprar códigos a través del enlace de <strong>WhatsApp</strong> disponible en la página principal.<br><br>
            También puedes estar pendiente de <a href="https://www.tiktok.com/@bbdtmfsorteo" target="_blank" rel="noopener noreferrer">
  <strong>TikTok</strong>
</a>
, donde se estarán dejando códigos escondidos.<br><br>
            <strong>¡Dale a seguir ya!</strong>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#faq4">
            ¿Cómo se realizara el sorteo?
          </button>
        </h2>
        <div id="faq4" class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
           El sorteo se realizará utilizando los <strong>tres últimos números ganadores de la Lotería Nacional del Ecuador</strong>, garantizando así un proceso <strong>totalmente transparente</strong>.<br><br>

De esta manera, el resultado <strong>no dependerá de ningún medio controlado por el organizador</strong>, lo que elimina cualquier posibilidad de intervención o manipulación para favorecer a participantes específicos.<br><br>

Este es un sorteo <strong>100 % confiable y verificable por el público</strong>.

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#faq5">
            Son 700 números. ¿Qué sucede si los tres últimos números del ganador de la lotería no se encuentran dentro del rango, por ejemplo 708 o 901?
          </button>
        </h2>
        <div id="faq5" class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            En ese caso, se utilizará el número de la <strong>segunda suerte</strong>, y el número de la <strong>primera suerte</strong> quedará descartado. 
Lo mismo ocurrirá si los <strong>tres últimos números son 000</strong>.<br><br>

Si el caso se repite, es decir, si la <strong>segunda suerte</strong> tampoco proporciona un número que se encuentre dentro del rango, 
se procederá a utilizar el número de la <strong>tercera suerte</strong>.<br><br>

Si la <strong>primera</strong>, <strong>segunda</strong> y <strong>tercera suerte</strong> <strong>NO PROPORCIONAN UN NÚMERO GANADOR</strong>, 
se tomará la <strong>primera suerte del siguiente sorteo</strong> y se repetirá la dinámica hasta la <strong>tercera suerte</strong>.

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#faq6">
            Gane! ¿Puedo vender mis boletos?
          </button>
        </h2>
        <div id="faq6" class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
          ¡Sí! Pero atención.<br><br>

Los boletos se transfieren a través de una aplicación llamada <strong>Quentro</strong>.<br><br>

Este traspaso <strong>solo se puede realizar una vez</strong>.  
Por lo tanto, si solicitas el traspaso a tu cuenta, posteriormente <strong>no podrás vender ni transferir los boletos a otra persona</strong>, 
ya que el nuevo titular no podrá recibirlos en su cuenta de Quentro.<br><br>

Una vez que ganes los boletos, <strong>serán completamente tuyos</strong>, y tú decidirás qué hacer con ellos.<br><br>

El traspaso de los boletos se puede realizar <strong>hasta 3 días antes del evento</strong>.

        </div>
      </div>

    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#faq7">
            ¿Estos Boletos tienen seguro?
          </button>
        </h2>
        <div id="faq7" class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
          ¡Sí! si por alguna razón de <strong>FUERZA MAYOR</strong> no puedes asistir al evento, 
          deberás presentar toda la <strong>documentación certificada y apostillada</strong> para poder reclamar el 
          <strong>seguro de Ticketmaster</strong>.<br><br>

          Es importante enfatizar que este seguro aplica <strong>únicamente para casos específicos de fuerza mayor</strong>, tales como:<br>
          • Accidente que genere incapacidad<br>
          • Fallecimiento de un familiar <strong>directo</strong><br>
          • Otros motivos debidamente comprobables de <strong>fuerza mayor</strong><br><br>

          Razones como: <strong>no tener vacaciones en el trabajo</strong>, <strong>falta de dinero</strong> o <strong>pérdida del vuelo</strong> 
          <strong>NO</strong> se consideran causas de fuerza mayor.<br><br>
          Este proceso <strong>no corresponde al organizador del sorteo</strong>, sino que se rige exclusivamente por las 
          <strong>políticas del seguro proporcionado por Ticketmaster</strong>.

          </div>
        </div>
      </div>

       <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#faq9">
            ¿Existe alguna forma de aumentar mis probabilidades de ganar?
          </button>
        </h2>
        <div id="faq9" class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
        ¡Matemáticas, hijo!<br><br>
        Por simple matemática, <strong>mientras más boletos adquieras, mayores serán tus probabilidades de ganar</strong>.<br><br>
        Por ejemplo, si tienes <strong>10 números</strong>, tus probabilidades de ganar son <strong>10 veces mayores</strong> que las de una persona que solo posee <strong>1 número</strong>.

          </div>
        </div>
        
      </div>

       <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#faq8">
            Tengo otra pregunta que no esta aqui
          </button>
        </h2>
        <div id="faq8" class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
          Usa el WhatsApp oficial para mas Información.
          </div>
        </div>
        
      </div>

     
  </div>
</section>

 

  </div>
</div>
<div>
    
</div>
    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>

</html>